html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #ffffff;
  color: #0047ab;
  text-align: center;

  border: 4px solid #0047ab;
  border-radius: 8px;

  padding: 20px 0;
  width: 90%;
  margin: 15px auto;
}

.profile-box {
  width: 90%;
  background-color: #d9edf7;
  margin: 20px auto;
  padding: 20px 0;
  border: 2px solid #cccccc;
  border-radius: 8px;
  text-align: center;
}

.student-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 20%;
  margin-bottom: 15px;
}

.student-name {
  font-size: 2em;
  margin-bottom: 10px;
}

.info {
  font-size: 1.1em;
  margin: 5px 0;
}

.bio {
  margin-top: 15px;
  font-size: 1em;
  line-height: 1.6em;
}

footer {
  margin-top: auto;
  background-color: #e6e6e6;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
}
