body {
  margin: 0;
  background-color: #fff7f7;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #004ea2;
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90% 90% 90% 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 500px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}

.menu a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0 25px;
  font-size: 25px;
  display: inline-block;
  position: relative;
  padding: 6px 4px;
  transition: 0.25s;
}

.menu a:hover {
  transform: scale(1.12);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn {
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid transparent;
}

.btn-sign {
  background-color: white;
  border: 1px solid #1a73e8;
  color: #1a73e8;
}
.btn-sign:hover {
  background-color: black;
  color: whitesmoke;
  transform: scale(1.12);
}

.btn-touch {
  background-color: #1a73e8;
  color: white;
  border: 1px solid #1a73e8;
}
.btn-touch:hover {
  background-color: #155bb5;
  transform: scale(1.12);
}
